In [1]:
import pandas as pd

In [3]:
Premium = pd.read_csv("Premiums.csv")

In [5]:
# 2. Check number of rows, columns in the data
num_rows, num_cols = Premium.shape
print(f"Number of Rows: {num_rows}, Number of Columns: {num_cols}")

Number of Rows: 4744, Number of Columns: 10

In [7]:
# 3. Display first 10 rows and last 5 rows
print("First 10 rows:")
print(Premium.head(10))
print("Last 5 rows:")
print(Premium.tail(5))

First 10 rows:
         POLICY_NO PRODUCT   BRANCH_NAME       REGION ZONE_NAME  \
0  A-2007073196522  TRAVEL          Pune  ROM and Goa     South
1  A-2007080402998  TRAVEL         Anand   Gujarat II     North
2  A-2007081314381  TRAVEL    Chennai II    Tamilnadu     South
3  A-2007082123389  TRAVEL        Baroda   Gujarat II     North
4  A-2007082123394  TRAVEL        Baroda   Gujarat II     North
5  A-2007083135582  TRAVEL  Bangalore II     Karnatka     South
6  A-2007090540083  TRAVEL       Andheri    Mumbai II     South
7  A-2007090540188  TRAVEL       Andheri    Mumbai II     South
8  A-2007090540273  TRAVEL       Andheri    Mumbai II     South
9  A-2007090540347  TRAVEL       Andheri    Mumbai II     South

                 Plan  Sum_Assured  Premium  Sub_Plan  Vintage_Period
0    Asia Silver Plan      30000.0    525.0    Silver              14
1    Asia Silver Plan      30000.0    325.0    Silver              30
2  Asia Standard Plan    1250000.0    300.0  Standard               4
3  Asia Standard Plan      25000.0    300.0  Standard              30
4  Asia Standard Plan      25000.0    300.0  Standard              30
5          Individual      50000.0    498.0  Standard             446
6    Asia Silver Plan      25000.0    364.0    Silver               5
7    Asia Silver Plan      25000.0    365.0    Silver               5
8    Asia Silver Plan      25000.0    364.0    Silver               8
9    Asia Silver Plan      25000.0    363.0    Silver               8
Last 5 rows:
            POLICY_NO PRODUCT  BRANCH_NAME            REGION ZONE_NAME  \
4739  I-2008090517429  TRAVEL     Bareilly  UP AND UTRANCHAL     North
4740  I-2008090617490  TRAVEL  Bangalore I          Karnatka     South
4741  I-2008090617503  TRAVEL  Bangalore I          Karnatka     South
4742  I-2008091917750  TRAVEL        Patna      Rest of East      East
4743  I-2008092017751  TRAVEL  Gandhinagar         Gujarat I     North

                    Plan  Sum_Assured  Premium  Sub_Plan  Vintage_Period
4739  Individual  Standa      50000.0    407.0  Standard               5
4740  Individual  Standa    2000000.0    584.0  Standard              13
4741  Individual  Standa    2000000.0    549.0  Standard              14
4742  Individual  Gold P   10000000.0   1198.0      Gold              18
4743  Individual  Standa      50000.0    549.0  Standard             365

In [9]:
# 4. Describe (summarize) all variables
print("Summary of variables:")
print(Premium.describe(include='all'))

Summary of variables:
              POLICY_NO PRODUCT  BRANCH_NAME    REGION ZONE_NAME  \
count              4744    4744         4744      4744      4744
unique             4744       1           89        19         3
top     A-2007073196522  TRAVEL  Bangalore I  Delhi II     South
freq                  1    4744          471       707      2634
mean                NaN     NaN          NaN       NaN       NaN
std                 NaN     NaN          NaN       NaN       NaN
min                 NaN     NaN          NaN       NaN       NaN
25%                 NaN     NaN          NaN       NaN       NaN
50%                 NaN     NaN          NaN       NaN       NaN
75%                 NaN     NaN          NaN       NaN       NaN
max                 NaN     NaN          NaN       NaN       NaN

                      Plan   Sum_Assured       Premium  Sub_Plan  \
count                 4744  4.744000e+03   4744.000000      4744
unique                  10           NaN           NaN         4
top     Individual  Standa           NaN           NaN  Standard
freq                  2000           NaN           NaN      2162
mean                   NaN  3.824805e+06   1146.968876       NaN
std                    NaN  4.839914e+06   1225.008815       NaN
min                    NaN  0.000000e+00      0.000000       NaN
25%                    NaN  5.000000e+05    549.000000       NaN
50%                    NaN  2.000000e+06    731.500000       NaN
75%                    NaN  4.000000e+06   1199.000000       NaN
max                    NaN  2.500000e+07  19649.000000       NaN

        Vintage_Period
count      4744.000000
unique             NaN
top                NaN
freq               NaN
mean         49.103288
std          80.413759
min           0.000000
25%           9.000000
50%          17.000000
75%          42.000000
max         733.000000

In [13]:
# 5. Display top 5 and bottom 5 policies in terms of premium amount
print("Top 5 policies by premium amount:")
print(Premium.nlargest(5, 'Premium_Amount'))
print("Bottom 5 policies by premium amount:")
print(Premium.nsmallest(5, 'Premium_Amount'))

Top 5 policies by premium amount:

KeyError: 'Premium_Amount'

In [15]:
print(Premium.columns)

Index(['POLICY_NO', 'PRODUCT', 'BRANCH_NAME', 'REGION', 'ZONE_NAME', 'Plan',
       'Sum_Assured', 'Premium', 'Sub_Plan', 'Vintage_Period'],
      dtype='object')

In [17]:
print(Premium.nlargest(5, 'Premium'))
print(Premium.nsmallest(5, 'Premium'))

            POLICY_NO PRODUCT      BRANCH_NAME                        REGION  \
184   F-2007091248143  TRAVEL          Bharuch                    Gujarat II
858   I-2007092056819  TRAVEL      Bangalore I                      Karnatka
201   F-2007110802074  TRAVEL  Connaught Place                      Delhi II
1178  I-2007102386800  TRAVEL            Surat                    Gujarat II
1715  I-2007120729531  TRAVEL       Chandigarh  Haryana And Himachal Pradesh

     ZONE_NAME                Plan  Sum_Assured  Premium  Sub_Plan  \
184      North   Family  Gold Plan     100000.0  19649.0      Gold
858      South  Individual  Platin     500000.0  14082.0  Platinum
201      North  Family  Standard P    2000000.0  12212.0  Standard
1178     North  Individual  Platin     500000.0  11836.0  Platinum
1715     North  Individual  Platin   20000000.0  11836.0  Platinum

      Vintage_Period
184              180
858               24
201              180
1178             182
1715             182
            POLICY_NO PRODUCT  BRANCH_NAME                        REGION  \
154   A-2008082607824  TRAVEL     Amritsar     Punjab And Jammu  Kashmir
156   A-2008082607921  TRAVEL     Amritsar     Punjab And Jammu  Kashmir
337   I-2007051920023  TRAVEL   Chandigarh  Haryana And Himachal Pradesh
825   I-2007091853249  TRAVEL       Cochin                        Kerala
1456  I-2007111306174  TRAVEL  Nehru Place                       Delhi I

     ZONE_NAME                Plan  Sum_Assured  Premium  Sub_Plan  \
154      North  Asia Standard Plan    1000000.0      0.0  Standard
156      North  Asia Standard Plan    1000000.0      0.0  Standard
337      North  Individual  Silver          0.0      0.0    Silver
825      South  Individual  Gold P          0.0      0.0      Gold
1456     North  Individual  Gold P          0.0      0.0      Gold

      Vintage_Period
154                6
156                6
337               21
825               14
1456              14

In [25]:
# 6. Calculate the sum for variable ‘Sum_Assured’ by ‘Region’ variable
sum_assured_by_region = Premium.groupby('REGION')['Sum_Assured'].sum()
print("Sum of Sum_Assured by REGION:")
print(sum_assured_by_region)

Sum of Sum_Assured by REGION:
REGION
Andhra Pradesh I                8.136750e+08
Andhra Pradesh II               2.781500e+08
Delhi I                         1.886412e+09
Delhi II                        2.641320e+09
Gujarat I                       3.810417e+08
Gujarat II                      4.332400e+08
Haryana And Himachal Pradesh    4.069583e+08
Karnatka                        2.359892e+09
Kerala                          4.148100e+08
MP And Chattishgarh             9.368000e+07
Mumbai I                        2.167774e+09
Mumbai II                       1.300088e+09
Punjab And Jammu  Kashmir       9.206533e+08
ROM and Goa                     2.057798e+09
Rajasthan                       3.405000e+07
Rest of East                    1.000000e+07
Tamilnadu                       1.207567e+09
UP AND UTRANCHAL                3.453164e+08
West Bengal                     3.924500e+08
Name: Sum_Assured, dtype: float64

In [37]:
# 7. Create a subset of policies of Asia Standard Plan with Sum_Assured <= 50,000
subset = Premium[(Premium['Plan'] == 'Asia Standard') & (Premium['Sum_Assured'] <= 50000)]
subset = subset[['POLICY_NO', 'ZONE_NAME', 'Plan', 'Sum_Assured']]

In [39]:
# 8. Export the subsetted data into an xlsx file
subset.to_excel("Asia_Standard_Subset.xlsx", index=False)
print("Subset data exported successfully.")

Subset data exported successfully.